<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <title>Day</title>
</head>
<body>

    <h1 style="text-align: center;"> <%= kindOfDay %></h1>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
        <div class="list-group">
            <% for(var i = 0; i < newListItems.length; i++) { %>

                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <%= newListItems[i] %>
                </label>
                <% } %>
                
                <label class="list-group-item d-flex gap-2">
                    <form action="/" method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="newItem" class="form-control" placeholder="New Item" aria-label="Username" aria-describedby="basic-addon1" autocomplete="off">
                            <button type="submit" name="button" class="btn btn-primary">+</button>
                        </div>
                    </form>
                </label>
        </div>        
    </div>

<!-- 
    <ul>
        <% for(var i = 0; i < newListItems.length; i++) { %>
            <li> <%= newListItems[i] %></li>
        <% } %>
    </ul> -->
    <!-- <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button">Submit</button>
    </form> -->
</body>
</html>